{% extends 'base.html' %}
{% block container %}
  <main class="container">
    <h1 class="h3 my-4">Корзина</h1>

    <div class="alert alert-warning" role="alert">Блюдо удалено из корзины</div>
    <div class="alert alert-warning" role="alert">Чтобы сделать заказ – <a href="/login/">войдите</a> или <a href="/register/">зарегистрируйтесь</a></div>

    <div class="row mt-5">


        <div class="col-4">
          <form action="/cart/" method="POST">
          <h4 class="">Ваши данные</h4>
            {{ form.csrf_token }}
            <div class="md-4 form-label-group">
            <p>{{ form.name.label }}
              {{ form.name }}</p>
          </div>
          <div class="md-4 form-label-group">
            <p>{{ form.address.label }}
              {{ form.address }}</p>
          </div>
            <div class="md-4 form-label-group">
            <p>{{ form.email.label }}
              {{ form.email }}</p>
          </div>
            <div class="md-4 form-label-group">
            <p>{{ form.phone.label }}
              {{ form.phone }}</p>
            </div>

          <div class=" md-4 order-md-1">

           <input type="hidden" value = "875" name="order_summ">
           <input type="hidden" value="[1,3,4]" name="order_cart">
          {{ form.submit }}
          </form>
        </div>
        </div>



      <div class="col-1"></div>
      <div class="col-7">
        <h4 class="mb-3 col-7 mb-5">В корзине {{ cart.number_of_meals }} блюд</h4>
        <table class="table">
          <tbody>
          {% for meal_id, meal in cart.meals.items() %}
            <tr>
              <th scope="row">{{ meal.title }}</th>
              <td></td>
              <td>{{ meal.count }}</td>
              <td>{{ meal.price }}</td>
              <td><a class="text-danger" href="/mealremove/{{ meal_id }}">Удалить</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <hr>
        <p class="display-4 my-2 ">{{ cart.total_price }} руб</p>
      </div>
    </div>

{% endblock %}